\.storybook/
\.cache/
\.vscode/
\.travis/
\.nyc_output/
examples/
test/
cypress/
docs/
coverage/
\.eslintignore
\.prettierrc.js
\.travis.yml
\.parcel-cache
cypress.json
babel.config.js
yarn.lock
yarn-error.log
TODO.md
